<a href="https://colab.research.google.com/github/gardenwill/python_start/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%A0%95%EB%A6%AC1%EC%B0%A8%EB%AC%B8%EC%A0%9Cipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num2 = 100

In [2]:
print(num2)

100

In [3]:
money = 10000
if money > 10000:
  print('커요')
else:
  print('작아요')

작아요

In [ ]:
변수명을 한글로 쓸 수 있을까요?
넵! 
name = '홍길동'

In [6]:
count = 0
for q in range(1, 1001):
  if q % 3 == 0:
    count = count + 1
    print(count, end = " ") #count에 들어있는 변수값을 프린트하고, 엔터까지 함.

print(count)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 333

In [8]:
# 리스트: 많은 양의 데이터를 다루고자 할 때 사용
# 리스트(list) => 목록

food = ['라면','우동']
food.append('김밥') #['라면' '우동', '김밥']
food.append('커피') #['라면' '우동', '김밥', '커피']
print(len(food))

4

In [10]:
for x in range(1, 51, 1):  #1, 2, 3, ...., 50
  if x % 2 == 0:
    print(x, end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [11]:
count = 0
for x in range(1, 1001): #1, 2, 3, ...., 1000, 마지막 값은 jump값!
  if x % 3 == 0: # True
    # x가 3의 배수일때만 카운트
    count = count + 1

print(count)

333

In [12]:
todo_list = []

In [13]:
todo_list.append('놀기') #['놀기']
todo_list.append('먹기') #['놀기','먹기']

In [14]:
len(todo_list) #요소(element, 엘리먼트)의 개수

2

In [15]:
for x in range(0, 3):
  todo_list.append('잠자기')

In [16]:
len(todo_list)

5

In [17]:
for _ in range(0, 3): #[0,1,2]
  data = input('하고 싶은 일 입력: ') #tv보기
  todo_list.append(data)

하고 싶은 일 입력: tv보기
하고 싶은 일 입력: 코딩하기
하고 싶은 일 입력: 또먹기

In [18]:
len(todo_list)

8

In [22]:
food_list = []

while True: #무한반복
  data = input('먹고 싶은 음식 입력(종료:x)>> ')
  if data == 'x':
    print('시스템을 종료합니다.')
    break
  else:
    food_list.append(data)

먹고 싶은 음식 입력(종료:x)>> 라면
먹고 싶은 음식 입력(종료:x)>> 우동
먹고 싶은 음식 입력(종료:x)>> 짜장
먹고 싶은 음식 입력(종료:x)>> 밥
먹고 싶은 음식 입력(종료:x)>> 국수
먹고 싶은 음식 입력(종료:x)>> x
시스템을 종료합니다.

In [23]:
len(food_list)

5

In [25]:
food2 = ['라면','물','김밥','우동','밥']
#리스트에서는 위치값을 가지고 각 요소들을 구분한다.
#위치값은 index, index는 0부터 시작!

In [27]:
print(food2[0], food2[4])

라면 밥

In [28]:
print(food2[0:3])

['라면', '물', '김밥']

In [29]:
print(food2[2])

김밥

In [30]:
print(food2[2:]) #인덱싱, 슬라이싱

['김밥', '우동', '밥']

In [32]:
it회사 = []
for _ in range(4):
  data = input('회사 이름>> ')
  it회사.append(data)

회사 이름>> 네이버
회사 이름>> 카카오
회사 이름>> 구글
회사 이름>> 링크드인

In [34]:
it회사

['네이버', '카카오', '구글', '링크드인']

In [35]:
jumsu = [] #100, 99, 88

In [36]:
for _ in range(3):
  data = input('학기 총점: ')
  data2 = int(data)
  jumsu.append(data2)

학기 총점: 100
학기 총점: 88
학기 총점: 9

In [38]:
sum = 0
for x in jumsu:
  sum = sum + x
print('총점 ', sum)
print('평균 ', sum/len(jumsu))

총점  197
평균  65.66666666666667

In [39]:
target = 77

In [42]:
count = 0

while True:
  data = input('당신이 생각한 정답 입력>> ')
  count = count + 1
  data2 = int(data)
  if data2 == target:
    print('정답입니다.')
    print('시도횟수: ', count)
    break
  else: #99
    print('정답이 아닙니다.')
    if data2 > target:
      print('너무 커요!')
    else:
      print('너무 작아요!')

당신이 생각한 정답 입력>> 99
정답이 아닙니다.
너무 커요!
당신이 생각한 정답 입력>> 88
정답이 아닙니다.
너무 커요!
당신이 생각한 정답 입력>> 33
정답이 아닙니다.
너무 작아요!
당신이 생각한 정답 입력>> 77
정답입니다.
시도횟수:  4

In [43]:
a = 10
b = 0.5
c = 0.7
d = a * b * c

In [44]:
d

3.5

In [45]:
int(d)

3

In [47]:
print('세 수의 곱은 ', int(a * b * c), '입니다.')

세 수의 곱은  3 입니다.

In [48]:
location = []

In [49]:
for _ in range(5):
  data = input('장소 입력: ')
  location.append(data)

장소 입력: 여의도
장소 입력: 신촌
장소 입력: 강남
장소 입력: 속초
장소 입력: 제주도

In [50]:
location

['여의도', '신촌', '강남', '속초', '제주도']

In [51]:
del location[2]

In [52]:
location

['여의도', '신촌', '속초', '제주도']

In [53]:
location[3] = '제주시'

In [54]:
location

['여의도', '신촌', '속초', '제주시']

In [58]:
for index in range(len(location)): #[0,1,2,3], range(4)
  print(index + 1, '위: ', location[index])

1 위:  여의도
2 위:  신촌
3 위:  속초
4 위:  제주시

In [59]:
me = {'이름':'홍길동', '나이':100}
you = {'이름':'김길동', '나이':200}
we = [me, you]
mom = {}
mom['이름'] = '장길동'
mom['나이'] = 300
we.append(mom)
we

[{'나이': 100, '이름': '홍길동'}, {'나이': 200, '이름': '김길동'}, {'나이': 300, '이름': '장길동'}]